body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* SECTION ONE */
.section-one {
    flex: 1;
    background-color: #1F2937;
    padding: 15px 200px;
}

.header {
    display: flex;
    flex: 1;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.hero-contain {
    max-width: 400px;
}

.hero-main {
    max-width: 400px;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-second {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    color: #e5e7eb;
    background-color: #3882f6;
    margin-top: 10px;
    border-radius: 7px;
    padding: 5px 20px;
}

.image-border {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: grey;
    padding: 100px 150px;
}

/* SECTION TWO */
.section-two {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.random {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 30px 0;
}

.images {
    display: flex;
    gap: 25px;
}

.image-info {
    width: 145px;
}

/* .image-two {
    width: 145px;
}

.image-three {
    width: 145px;
}

.image-four {
    width: 145px;
} */

/* SECTION THREE */
.section-three {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

/* SECTION FOUR */
.container {
    color: #e5e7eb;
    background-color: #3882f6;
}

.container button {
    border-color: white;
}

/* FOOTER */
.footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}